name: Publish Snap

on:
  push:
    tags:
      - "Coin-*"
    
jobs:
  publish_amd64:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: git permission workaround
      run: |
        sudo git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: install snapcraft
      run: sudo snap install snapcraft --classic
    - name: build snap 
      run: |
          sudo snapcraft --destructive-mode
          sudo rm -rf $HOME/.config/snapcraft
    - name: upload snap
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
      run: |
        snapcraft upload --release=stable coin3d-realthunder*.snap
